PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_NAME=core_quickbite
DB_USERNAME=postgres
DB_PASSWORD=

ACCESS_SECRET=
REFRESH_SECRET=

ACCESS_EXPIRES_IN=
REFRESH_EXPIRES_IN=

CORS_ORIGINS=

REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_PASSWORD=
